<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            
        </div>
        <div class="sidebar-brand-text mx-3">User</div>
    </a>
    <center><h6 style="color: white;"><%= currentUser.email%></h6></center>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <%if(!currentUser.email){%>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="login()">
                <!-- <i class="fa fas fa-fw fa-cog"></i> -->
                <span>Login</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="signup()">
                <!-- <i class="fa fas fa-fw fa-cog"></i> -->
                <span>Signup</span>
            </a>
        </li>
    <%}else{%>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/main">
            <i class=" fa fa-fw fa-tachometer-alt"></i>
            <span>Categories</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/cart">
            <!-- <i class="fa fas fa-fw fa-cog"></i> -->
            <span>View Cart</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <%categoryList.forEach(category=>{%>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="fun('<%= category.categoryName%>')">
                <!-- <i class="fa fas fa-fw fa-cog"></i> -->
                <span><%= category.categoryName%></span>
            </a>
        </li>
    <%})%>
    <li class="nav-item">
       <form action="/logout" method="post">
        <button type="submit" class="nav-link text-dark">
           Logout
        </button>
       </form>
    </li>
    <%}%>
    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>
<!-- End of Sidebar -->