    <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('_user_links.ejs')%>
      <title>Add Category</title>
    </head>
    
    <body id="page-top" onload="login()">
      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <%- include('_user_header.ejs')%>
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" style="height: 50vh;">
              <%if(failure.length>0){
                %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error! </strong> <%= failure%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <%
              }%>
              <div class="row" id="con">
                
              </div>
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
  
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
      <!-- Bootstrap core JavaScript-->
      <%- include('_user_scripts.ejs')%>
      <script>
        function login(){
          let a=` <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">
                        <form action="/login" method="post">
                        <div class="mb-md-5 mt-md-4 pb-5">

                          <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                          <p class="text-white-50 mb-5">Please enter your login and password!</p>

                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">Email</label>
                            <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email"/>
                          </div>

                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typePasswordX">Password</label>
                            <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
                          </div>
                          <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                        </div>
                        </form>
                        <div>
                          <p class="mb-0">Don't have an account? <a href="#!" onclick="signup()" class="text-white-50 fw-bold">Sign Up</a>
                          </p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>`

              document.getElementById('con').innerHTML=a;
        }
        function signup(){
          let a=` <div class="container-fluid py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">
                        <form action="/register" method="post">
                        <div class="mb-md-5 mt-md-4 pb-5">

                          <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                          <p class="text-white-50 mb-5">Please enter correct details</p>
                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">Name</label>
                            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="name"/>
                          </div>
                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">Age</label>
                            <input type="number" id="typeEmailX" class="form-control form-control-lg" name="age"/>
                          </div>
                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">Address</label>
                            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="address"/>
                          </div>
                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">Email</label>
                            <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email"/>
                          </div>

                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typePasswordX">Password</label>
                            <input type="password" id="pass" class="form-control form-control-lg" name="password" />
                          </div>
                          <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typePasswordX">Confirm Password</label>
                            <input type="password" id="conpass" class="form-control form-control-lg" oninput="fun()" name="confirmpassword" />
                          </div>
                          <label class="form-label" id="mess"></label>
                          <button class="btn btn-outline-light btn-lg px-5" type="submit" id="bttn">Login</button>
                        </div>
                        </form>
                        <div>
                          <p class="mb-0">Don't have an account? <a href="#!" onclick="signup()" class="text-white-50 fw-bold">Sign Up</a>
                          </p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>`

              document.getElementById('con').innerHTML=a;
              funn()
        }
        function funn(){
            document.getElementById('bttn').style.visibility="hidden"
        }
        function fun(){
            const pass=document.getElementById('pass').value
            const conpass=document.getElementById('conpass').value
            if(pass!=''&& pass===conpass){
                
                document.getElementById('mess').innerText=""
                document.getElementById('bttn').style.visibility="visible"
            }
            else{
                document.getElementById('mess').style.color="red"
                document.getElementById('mess').innerText="Password not matched"
                document.getElementById('bttn').style.visibility="hidden"
            }
        }
      </script>
    </body>
  </html>
  