<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body onload="funn()">
    <div class="container-fluid">
        <section class="vh-100 m-auto" style="width: 75%;">
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                  <form action="/register" method="post">
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter name" name="name" />
                        <label class="form-label" for="form3Example3">Name</label>
                      </div>
                    <div class="form-outline mb-4">
                        <input type="number" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter age" name="age" />
                        <label class="form-label" for="form3Example3">Age</label>
                      </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter address" name="address" />
                        <label class="form-label" for="form3Example3">Address</label>
                      </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter a valid email address" name="email"/>
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>
          
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                      <input type="password" id="pass" class="form-control form-control-lg"
                        placeholder="Enter password" name="password" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                    <div class="form-outline mb-3">
                      <input type="password" id="conpass" class="form-control form-control-lg"
                        placeholder="Confirm password" oninput="fun()" />
                      <label class="form-label" for="form3Example4">Confirm Password</label>
                      <label class="form-label" id="mess"></label>
                    </div>
          
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;"  id="bttn">Register</button>
                    </div>
          
                  </form>
                </div>
              </div>
            </div>
          </section>
    </div>
    <script>
        function funn(){
            document.getElementById('bttn').style.visibility="hidden"
        }
        function fun(){
            const pass=document.getElementById('pass').value
            const conpass=document.getElementById('conpass').value
            if(pass!=''&& pass===conpass){
                
                document.getElementById('mess').innerText=""
                document.getElementById('bttn').style.visibility="visible"
            }
            else{
                document.getElementById('mess').style.color="red"
                document.getElementById('mess').innerText="Password not matched"
                document.getElementById('bttn').style.visibility="hidden"
            }
        }
    </script>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>